<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic GraphQL example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error 😞
  </div>
  <ion-list-header>
    <ion-label>Users</ion-label>
  </ion-list-header>
  <div *ngIf="users">
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.firstname }}</h2>
        <p>{{ user.email }}</p>
        <ion-chip *ngFor= "let watchList of user.watchList">
          <p>
            {{ watchList.title }}
          </p>
        </ion-chip>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
